{
    "extends": [
        "./node_modules/eslint-config-awe/base.js",
        "./node_modules/eslint-config-awe/angular.js"
    ],
    "globals": {
        "_": true,
        "d3": true,
        "require": true,
        "module": true,
        "exports": true,
        "ƒ": true,
        "ngD3": true
    },
    "rules": {
        "max-statements": [2, 30]
    }
}
