<!DOCTYPE html>
<html ng-app="Demo">
    <head>
        <meta charset="utf-8">
        <title>D3 Wrapper</title>
        <script src="../node_modules/angular/angular.js"></script>
        <script src="../dist/ng-d3.js"></script>
        <link rel="stylesheet" href="../dist/ng-d3.css" />
        <style>
            body { font: 14px sans-serif; color : #383838; }
            .chord path { fill-opacity: .67; stroke: #000; stroke-width: .5px; }
            .chart { float: left; position: relative; }
            a { cursor: pointer; color: #179fd2; text-decoration: underline; }
            li { display: inline-block; }
            li:after { content:'|'; margin: 0 10px; color: #cecece; }
            li:last-child::after { content: ''; }


        </style>
    </head>
    <body>

        <script>

            var data = {
                'name': 'relation',
                'children': [
                    {
                        'name': 'seo',
                        'children': [
                            {'name': 'seo', 'size': 3938},
                            {'name': 'referal', 'size': 200}
                        ]
                    },
                    {
                        'name': 'sea',
                        'children': [
                            {'name': 'seo', 'size': 1200},
                            {'name': 'sea', 'size': 10738},
                            {'name': 'referal', 'size': 2000}
                        ]
                    }
                ]
            };

            var data2 = {
                'name': 'relation',
                'children': [
                    {
                        'name': 'seo',
                        'children': [
                            {'name': 'seo', 'size': 2030},
                            {'name': 'sea', 'size': 400},
                            {'name': 'referal', 'size': 10200}
                        ]
                    },
                    {
                        'name': 'sea',
                        'children': [
                            {'name': 'seo', 'size': 1200},
                            {'name': 'sea', 'size': 10738},
                            {'name': 'referal', 'size': 2000}
                        ]
                    },
                    {
                        'name': 'referal',
                        'children': [
                            {'name': 'seo', 'size': 3938},
                            {'name': 'sea', 'size': 10738},
                            {'name': 'referal', 'size': 1200}
                        ]
                    }
                ]
            };

            var test  = {
                      "chart": "chord",
                      "data":  {
                        "name": "mcf",
                        "children": [{
                            "name": "cpc",
                            "children": [{
                                "name": "cpc",
                                "size": 1240
                            }, {
                                "name": "organic",
                                "size": 268
                            }, {
                                "name": "display",
                                "size": 6
                            }, {
                                "name": "(none)",
                                "size": 121
                            }, {
                                "name": "referral",
                                "size": 20
                            }]
                        }, {
                            "name": "(none)",
                            "children": [{
                                "name": "(none)",
                                "size": 212
                            }, {
                                "name": "cpc",
                                "size": 15
                            }, {
                                "name": "organic",
                                "size": 8
                            }]
                        }, {
                            "name": "organic",
                            "children": [{
                                "name": "organic",
                                "size": 1534
                            }, {
                                "name": "cpc",
                                "size": 128
                            }, {
                                "name": "(none)",
                                "size": 150
                            }, {
                                "name": "referral",
                                "size": 8
                            }, {
                                "name": "display",
                                "size": 5
                            }]
                        }, {
                            "name": "display",
                            "children": [{
                                "name": "display",
                                "size": 2
                            }, {
                                "name": "(none)",
                                "size": 1
                            }]
                        }, {
                            "name": "referral",
                            "children": [{
                                "name": "referral",
                                "size": 62
                            }, {
                                "name": "cpc",
                                "size": 7
                            }, {
                                "name": "(none)",
                                "size": 6
                            }, {
                                "name": "organic",
                                "size": 42
                            }]
                        }]
                    },
                      "options": {
                        "supports": [
                          { "origin" : ["(none)", "cpc"], "rename": "Direct", "color": "blue" },
                          { "origin" : ["organic"], "rename": "SEO", "color": "green" },
                          { "origin" : ["referral"], "rename": "Site Référent", "color": "yellow" }
                        ],
                        "legend": {
                            "enable": true,
                            "position": 'right',
                            "width": 0.5,
                            "columns": [
                                {'name': 'relation', 'head': 'Cannaux', 'text-align': 'left'},
                                {'name': 'value', 'head': 'Transactions', 'text-align': 'center'},
                                {'name': 'relativeValue', 'head': '% du total', 'text-align': 'center'}
                            ],
                            "desc": 'of the total'
                        }
                      }
                    }

            var parameters = {
                chart: 'chord',
                data: test.data,
                options: {
                    supports: test.options.supports,
                    colors: [ '#3daadf', '#fd5154', '#59da80', '#f5af05', '#8e44ad', '#F89406', '#1abc9c', '#5b5b5b'],
                    legend: {
                        enable: false,
                        position: 'right',
                        width: 0.5,
                        columns: [
                            {'name': 'relation', 'head': 'Cannaux', 'text-align': 'left'},
                            {'name': 'value', 'head': 'Transactions', 'text-align': 'center'},
                            {'name': 'relativeValue', 'head': '% du total', 'text-align': 'center'}
                        ],
                        desc: 'of the total'
                    }
                }
            };

            var app = angular.module( 'Demo', ['ngD3'] );
                angular
                    .module('Demo')
                    .controller('DemoController', demoController);

            demoController.$inject = ['$scope', '$timeout'];

            function demoController($scope, $timeout) {
                var isData1 = true;

                $scope.parameters = test;

                $scope.updateChart = function(chart) {
                    $scope.parameters.chart = chart;
                }

                $scope.updateData = function() {
                    var d = isData1 ? data2 : data;

                    $scope.parameters.data = d;
                    isData1 = !isData1;
                }
            }

        </script>

        <div ng-controller="DemoController as demoController">
            <ul>
                <li><a ng-click="updateChart('bubble')">bubble</a></li>
                <li><a ng-click="updateChart('sunburst')">sunburst</a></li>
                <li><a ng-click="updateChart('chord')">chord</a></li>
            </ul>

            <div class="widget" style="width:80%; height:400px;">
                <ng-d3 parameters="parameters"></ng-d3>
            </div>

            <div style="clear:both;">
                <button ng-click="updateData()">Update data</button>
            </div>
        </div>
    </body>
</html>
